<div class="modal fade" id="appointmentModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="bi bi-plus"></i>  New Appointment</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="refreshPage()"
        ></button>
      </div>
      <app-appointment-form></app-appointment-form>
    </div>
  </div>
</div>

<div class="modal fade" id="editAppointmentment" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <i class="bi bi-pencil"></i> Edit Appointment
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="refreshPage()"
        ></button>
      </div>

      <app-appointment-edit-form [appointment]="selectedAppointment">
      </app-appointment-edit-form>
    </div>
  </div>
</div>



<div class="mt-4">
  
  <div class="card shadow-sm p-3 mb-4 border-0">
    <div class="row g-3 ">     
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="mb-0 text-primary fw-bold ">
      <i class="bi bi-calendar-check"></i> Appointments Grid
    </h4>
  </div>
<div class="row mb-4">
    <div class="col-4 d-flex">
        <input 
            type="text"
            class="form-control"
            placeholder="Search prescriptions..."
            [(ngModel)]="searchInput"
            (keyup.enter)="getAppointmentList(1, 10, searchInput)"
          />
          <button 
            class="btn btn-primary btn-sm"
            type="button"
            (click)="getAppointmentList(1, 10, searchInput)"
          >
            <i class="bi bi-search"></i> 
          </button>
    </div>
    <div class="col-6">
        <div class="col-md-12 text-end">
            <button
              class="btn btn-success"
              data-bs-toggle="modal"
              data-bs-target="#appointmentModal"
            >
              <i class="bi bi-plus-circle"></i> New Appointment
            </button>
          </div>
    </div>
</div>

  <!-- Table -->
  <div class="table-responsive">
    <table class="table table-bordered table-striped text-center">
      <thead >
        <tr>
          <th>#</th>
          <th>Doctor</th>
          <th>Patient</th>
          <th>Visit Type</th>
          <th>Diagnosis</th>
          <th>Appointment Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of appointments.data; let i = index">
          <td>
            {{ (pagination.currentPage - 1) * pagination.pageSize + i + 1 }}
          </td>
          <td>{{ a.doctorName }}</td>
          <td>{{ a.patientName }}</td>
          <td>{{ a.visitType }}</td>
          <td>{{ a.diagnosis }}</td>
          <td>{{ a.appointDate | date : "medium" }}</td>
          <td>
            <div class="d-flex gap-2">
              <button
                class="btn btn-light"
                data-bs-toggle="modal"
                data-bs-target="#editAppointmentment"
                (click)="onEditAppointment(a.appointmentId)"
              >
                <i class="bi-pencil"></i>
              </button>

              <button
                class="btn btn-sm"
                (click)="delete(a.appointmentId)"
              >
               <i class="bi bi-trash"></i>
              </button>
              <button
                class="btn  btn-sm"
                (click)="downloadAppointmentPdf(a)"
              >
              <i class="bi bi-download"></i>
              </button>
             

              <button
                (click)="sendToPatient(a.appointmentId, a.email)"
                class="btn "
              >
                <span *ngIf="!sendingMap[a.appointmentId]"
                  ><i class="bi bi-envelope-plus-fill"></i>  Send</span
                >
                <span *ngIf="sendingMap[a.appointmentId]">
                  <i class="fa fa-spinner fa-spin"></i> Sending...
                </span>
              </button>
            </div>
          </td>
        </tr>

        <tr *ngIf="appointments?.data?.length === 0">
          <td colspan="7" class="text-center">No appointments found</td>
        </tr>
      </tbody>
    </table>
  </div>
  <span>TotalPages: {{pagination.totalPages}}</span>
  <nav *ngIf="pagination">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="!pagination.hasPrevious">
        <a
          class="page-link"
          (click)="
            getAppointmentList(
              pagination.currentPage - 1,
              pagination.pageSize,
              searchInput
            )
          "
        >
          Previous
        </a>
      </li>

      <li
        class="page-item"
        *ngFor="
          let page of [].constructor(pagination.totalPages);
          let p = index
        "
        [class.active]="p + 1 === pagination.currentPage"
      >
        <a
          class="page-link"
          (click)="getAppointmentList(p + 1, pagination.pageSize, searchInput)"
        >
          {{ p + 1 }}
        </a>
      </li>

      <li class="page-item" [class.disabled]="!pagination.hasNext">
        <a
          class="page-link"
          (click)="
            getAppointmentList(
              pagination.currentPage + 1,
              pagination.pageSize,
              searchInput
            )
          "
        >
          Next
        </a>
      </li>
    </ul>
  </nav>
</div>
